* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: serif;
    background: #333;
    color: #ffffff;
}

.navBar {
    background: #444444;
}

.nav {
    max-width: 800px;
    margin: 1px;
    padding: 16px;
    color: #ff0000;
    font-size: 18px;
    font-weight: 600;
}

.Main {
    max-width: 800px;
    margin: 50px auto;  
    padding: 20px;
}

.headingText {
    text-align: center;
    margin-bottom: 35px;
    font-size: 36px;
    color: #ff0000;
    
}

.writing-part {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}

.writing-part form {
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 600px;
    
}

#taskInput {
    flex: 1;
    padding: 16px 20px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #ff0000;
    outline: none;
    background: #222;
    color: white;
    transition: 0.2s ease;
    font-family:cursive;
}

#taskInput::placeholder {
    color: #aaa;
}

#taskInput:focus {
    border-color: #720a0a;
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.4);
}

.Add-button {
    padding: 16px 24px;
    border-radius: 12px;
    border: none;
    background: #ff0000;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.Add-button:hover {
    background: #cc0000;
}

.Tasks-part {
    max-width: 600px;
    margin: 0 auto;
}

#taskList {
    list-style: none;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    margin-bottom: 14px;
    background: #222;
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transition: 0.15s ease;
}

.task-item:hover {
    transform: scale(1.02);
}

.task-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.task-text {
    font-size: 18px;
    color: white;
    font-family:fantasy;
}

.completed .task-text {
    text-decoration: line-through;
    color: #888;
    
}

.task-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task-delete {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    background: #e53935;
    color: white;
    cursor: pointer;
}

.task-delete:hover {
    background: #c62828;
}
